<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.soop_project.customer.model.dao.CustomerMapper">
    <!-- Result Map for LinkBeeUserDTO -->
    <resultMap id="LinkBeeUserDTOResultMap" type="com.ohgiraffers.soop_project.customer.model.dto.LinkBeeUserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="email" column="EMAIL"/>
        <result property="gender" column="GENDER"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="aboutMe" column="ABOUTME"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="signupDate" column="SIGNUP_DATE"/>
        <result property="signupPlatform" column="SIGNUP_PLATFORM"/>
    </resultMap>

    <!-- SQL statement for getCustomerList -->
    <select id="getCustomerList" resultMap="LinkBeeUserDTOResultMap">
        SELECT
            USER_CODE,
            NICKNAME,
            EMAIL,
            GENDER,
            SIGNUP_DATE
        FROM LINKBEE_USER
    </select>


    <select id="getCustomerByUserCode" parameterType="int" resultMap="LinkBeeUserDTOResultMap">
        SELECT
            USER_CODE,
            NICKNAME,
            EMAIL,
            GENDER,
            SIGNUP_DATE,
            PROFILE_PIC,
            ABOUTME,
            SIGNUP_PLATFORM
        FROM
            LINKBEE_USER
    </select>
</mapper>
