<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.soop_project.Dashboard.model.dao.DashboardMapper">

    <resultMap id="PostHoneyResultMap" type="com.ohgiraffers.soop_project.Dashboard.model.dto.PostHoneyDTO">
        <id property="honeyId" column="HONEY_ID" />
        <result property="honeyGenre" column="HONEY_GENRE" />
        <result property="honeyTitle" column="HONEY_TITLE" />
        <result property="honeyContent" column="HONEY_CONTENT" />
        <result property="totalPeople" column="TOTAL_PEOPLE" />
        <result property="honeyCity" column="HONEY_CITY" />
        <result property="honeyRegion" column="HONEY_REGION" />
        <result property="honeyAt" column="HONEY_AT" />
        <result property="honeyUntil" column="HONEY_UNTIL" />
        <result property="honeyFullStatus" column="HONEY_FULL_STATUS" />
        <result property="honeyExposureStatus" column="HONEY_EXPOSURE_STATUS" />
        <result property="honeyReportCount" column="HONEY_REPORT_COUNT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="ticketId" column="TICKET_ID" />
    </resultMap>

    <select id="getAllPostHoney" resultMap="PostHoneyResultMap">
        SELECT
            HONEY_ID,
            HONEY_GENRE,
            HONEY_TITLE,
            HONEY_CONTENT,
            TOTAL_PEOPLE,
            HONEY_CITY,
            HONEY_REGION,
            HONEY_AT,
            HONEY_UNTIL,
            HONEY_FULL_STATUS,
            HONEY_EXPOSURE_STATUS,
            HONEY_REPORT_COUNT,
            MEMBER_ID,
            TICKET_ID
        FROM POST_HONEY
    </select>

    <select id="getHoneyCountByGenre" resultType="PostHoneyResultMap">
        SELECT
            HONEY_GENRE,
            COUNT(HONEY_ID) AS count
        FROM
            POST_HONEY
        GROUP BY
            HONEY_GENRE
    </select>

</mapper>
