<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.soop_project.honeypot.model.dao.HoneypotMapper">
    <!-- Result Map for LinkBeeUserDTO -->
    <resultMap id="HoneypotDTOResultMaps" type="com.ohgiraffers.soop_project.honeypot.model.dto.HoneypotDTO">
        <id property="honeypotCode" column="HONEYPOT_CODE"/>
        <result property="interestCode" column="INTEREST_CODE"/>
        <result property="honeypotTitle" column="HONEYPOT_TITLE"/>
        <result property="honeypotContent" column="HONEYPOT_CONTENT"/>
        <result property="totalMember" column="TOTAL_MEMBER"/>
        <result property="region" column="REGION"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="visibilityStatus" column="VISIBILITY_STATUS"/>
        <result property="closureStatus" column="CLOSURE_STATUS"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="poster" column="POSTER"/>

    </resultMap>

    <select id="getHoneypotList" resultMap="HoneypotDTOResultMaps">
        SELECT
            HONEYPOT_CODE,
            HONEYPOT_TITLE,
            REG_DATE,
            VISIBILITY_STATUS,
            REPORT_COUNT
        FROM
            HONEYPOT
    </select>


    <select id="getHoneypotByHoneypotCode" parameterType="int" resultMap="HoneypotDTOResultMaps">
        SELECT
            h.HONEYPOT_CODE,
            h.HONEYPOT_CONTENT,
            h.VISIBILITY_STATUS,
            h.TOTAL_MEMBER,
            h.REG_DATE,
            h.CLOSURE_STATUS,
            h.REPORT_COUNT,
            i.INTEREST_NAME AS interest_code
        FROM
            HONEYPOT h
                JOIN
            INTEREST i ON h.INTEREST_CODE = i.INTEREST_CODE
        WHERE
            h.HONEYPOT_CODE = #{honeypotCode};
    </select>

</mapper>